.grid-block, .main, .entry, .comments li, .comment-form {
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
body {
    background: #eee;
    color: #666666;
}
.navbar { margin-bottom: 10px }
.navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px;
}
#spinner { height: 300px }
.entry {
    *zoom: 1;
    -webkit-transition: all 300ms 0ms;
    -webkit-transition-delay: ease-in;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in;
    position: relative;
    opacity: 1;
}
.entry:before, .entry:after {
    content: "";
    display: table;
}
.entry:after { clear: both }
.entry.invisible { opacity: 0 }
.entry .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left;
}
.entry .entry-content { float: left; width: 80%;}
.entry .entry-content h3 {
    margin: 0;
    line-height: 1.4;
    font-size: 18px;
}
.entry .entry-content h3 a {
    display: inline-block;
    margin-right: 5px;
}
.entry .entry-content h3 span {
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
    color: #aaaaaa;
}
.entry .entry-content p { margin: 0 }
.entry .discuss {
    display: block;
    float: right;
    margin-top: 7px;
}
.comments {
    list-style-type: none;
    margin: 0;
}
.comments li h4 {
    font-size: 16px;
    margin: 0;
}
.comments li h4 .date {
    font-size: 12px;
    font-weight: normal;
}
.comments li h4 a { font-size: 12px }
.comments li p:last-child { margin-bottom: 0 }
.dropdown-menu span {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #bbb;
    white-space: nowrap;
}
.load-more {
    display: block;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
    text-align: center;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
}
.load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
}

.tab-pane {
    display: block;
    min-width: 400px;
}

textarea.form-control {
    resize: none;
    white-space: pre-wrap;
}

.form-horizontal {
    padding: 0px 20px;
}

.form-signin 
input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.nav-select {
    float: right;
    display: inline-block;
    padding-left: 5px; 

}

#right-triangle {
    padding-left: 5px;
    width: 0;
    height: 0;
    border-left: 10px solid grey;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.editable form {
   display: inline;
}

.editable form textarea {
    width: 90% !important;
    height: 100% !important;
}

.editable form button {
    display: inline;
    color: #ffffff !important;
    background-color: #ed9c28 !important;
    border-color: #d58512 !important;

}

.testimonies li {
    background: #74add0;
}
.glyphicon:hover {

    font-size: 1.2em;

}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}