<template name="userEdit">
  <div class="grid-small grid-block dialog user-edit">
  	{{#with user}}
    {{#if profileIncomplete}}
    <div>
      Please complete your profile below before continuing.
    </div>
    {{/if}}
    <form>
      <h3>Account<p><small>Change your account settings.</small></p></h3>
      

      {{#if username}}
      <div class="form-group">
        <label>Username</label>
        <div class="controls">
          <input id="username" name="username" disabled="disabled" type="text" value="{{username}}" />
        </div>
      </div>
      {{/if}}

      <div class="form-group">
        <label for="firstname">First name</label>
          <input id="firstname" type="text" class="form-control" value="{{profile.name.firstname}}" />
      </div>

      <div class="form-group">
        <label for="lastname">Last name</label>
          <input id="lastname" type="text" class="form-control" value="{{profile.name.lastname}}" />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
          <input name="email" type="text" class="form-control" value="{{userEmail}}" />
      </div>

      <div class="form-group">
        <label for="bio">Bio</label>
        <textarea name="bio" type="text" class="form-control" rows="10">{{profile.bio}}</textarea>
      </div>

      <h3>Change Your Password</h3>
      <div class="form-group">
        <label for="old_password">Old Password</label>
        <div class="controls"><input id="old_password" type="text" value="" /></div>
      </div>
      <div class="form-group">
        <label for="new_password">New Password</label>
        <div class="controls"><input id="new_password" type="text" value="" /></div>
      </div>
      <div class="form-actions">
        <a href="/forgot_password">Forgot password?</a>
        <input type="submit" class="button" value="Submit" />
      </div>
    </form>
    {{/with}}
  </div>
</template>