<template name="users">
    <div class="grid">
      <div class="user-table grid-block">
        <h1>Users</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <td colspan="1">Name</td>
              <td>Member since</td>
              <td>Email</td>
              <td>Entries</td>
              <td>Comments</td>
              <td>Access</td>
              <td>Is Admin?</td>
              <td>Delete</td>
            </tr>
          </thead>
          <tbody>
              {{#each users}}
                {{> userItem}}
              {{/each}}
          </tbody>
        </table>
      </div>
    </div>
</template>