<template name="addEntry">
  <form class="main">
    <div class="form-group">
        <div class="controls">
            <textarea name="message" class="form-control" type="text" cols="40" rows="4" value="" placeholder="Praying for..."/>
             <button type="submit" class="btn btn-success">Submit</button>
        </div>
        <div class="checkbox">
            <label>
              <input type="checkbox" id="checkbox">keep private
            </label>
        </div>  
    </div> 
  </form>
</template>