<template name="entryPage">
	{{#with currentEntry}}
    {{> entryItem}}

    {{#if currentUser}}
      <ul class="nav nav-tabs nav-justified">
        <li><a href="#testimony" data-toggle="tab">Add a Testimony</a></li>
        <li><a href="#comment" data-toggle="tab">Add a Comment</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane" id="testimony">{{> addTestimony}}</div>
        <div class="tab-pane" id="comment">{{> commentSubmit}}</div>
      </div>
      {{else}}
      <p>Please log in.</p>
    {{/if}}

  	<ul class="comments">
      {{#each comments}}
        {{> comment}}
      {{/each}}
    </ul>


    <ul class="comments testimonies">
      {{#each testimonies}}
      {{> testimony}}
      {{/each}}
    </ul>



  {{/with}}
</template>
